.nav-header {
  height: 100px;
  width: 100%;
  background: yellowgreen;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.each-day {
  width: 20%;
  height: 350px;
  background-color: peru;
  border: 1px solid orchid;
  text-align: center;
}

.each-day .task-wrapper {
  overflow: auto;
  height: 250px;
}

.each-day h2 {
  margin-top: 10px;
}

.each-day .each-task {
  margin-top: 10px;
  cursor: pointer;
}

.each-day .each-task .line {
  text-decoration-line: line-through;
}
